.clear {
  clear: both;
  float: none;
  font-size: 7px;
}

body {
  font-family: sans-serif;
  background-color: #FFFFFF;
  color: #3C3A37
}

#container {
  width: 700px;
  margin: auto;
  padding-top: 50px;
}

#header {
  height: 100px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 3px solid black;
}

#blog_title {
  font-family: Helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 60px;
  line-height: 40px;
  margin: 0 0 7px 0;
}

#blog_title .michael {
  font-weight: bold;
}

#blog_title .xavier {
  font-weight: lighter;
}

#blog_tagline {
  font-family: Helvetica, sans-serif;
  color: #656565;
  font-size: 20px;
  margin: 0 0 7px 0;
}

#links {
  font-family: Helvetica, sans-serif;
  color: #656565;
  font-size: 16px;
  margin: 0 0 7px 0;
}

/*TODO: box below, merge with divider*/
#links a {
  margin: 0 10px;
}

#lambda {
  width: 100px;
  height: 100px;
  background: url('http://placekitten.com/100/100');
  background-repeat: no-repeat;
  padding-right: 10px;
  border-right: 3px solid black;
  margin-right: 10px;
  float: left;
}

ul.posts {
  list-style-type: none;
  padding: 0;
}

li.post {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 3px solid black;
}

.date {
  text-decoration: italic;
}
