.clear {
  clear: both;
  float: none;
  font-size: 7px;
}

body {
  font-family: sans-serif;
  background-color: #FFFFFF;
}

#container {
  width: 700px;
  margin: auto;
  padding-top: 50px;
}

#header {
  height: 100px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 3px solid black;
}

#footer {
  text-align: center;
}

#lambda {
  width: 100px;
  height: 100px;
  background: url('http://placekitten.com/100/100');
  background-repeat: no-repeat;
  padding-right: 10px;
  border-right: 3px solid black;
  margin-right: 10px;
  float: left;
}

#blog_tagline {
  color: #656565;
}

ul.posts {
  list-style-type: none;
  padding: 0;
}

li.post {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 3px solid black;
}

.date {
  text-decoration: italic;
}
